<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Flask Starter App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom/styles.css') }}"> <!-- Include external CSS -->
    {% block extra_css %}{% endblock %}
</head>
<body class="d-flex flex-column min-vh-100">
    {% include 'partials/_navbar.html' %}

    <div class="container mt-4 flex-grow-1">
        {% include 'partials/_error.html' %}
        {% block content %}{% endblock %}
    </div>

    {% include 'partials/_footer.html' %}

    <script src="{{ url_for('static', filename='js/libraries/bootstrap.min.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='js/custom.js') }}"></script> -->
    {% block extra_js %}{% endblock %}
</body>
</html>




