# Main Packages for the Web App
Flask==3.0.3
setuptools==74.1.2 
# Environment variable handling
python-dotenv== 1.0.1
# yfinance API
yfinance==0.2.43
# Analysis
numpy==1.26.4 # Force Numpy to use 1.26.4 for pandas_ta comptability
pandas_ta== 0.3.14b0
scikit-learn==1.5.2
# Visualisation
matplotlib==3.9.2
plotly==5.22.0
# Login System, Persistent Storage for Portfolio data etc
Flask-Login==0.6.3
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
Werkzeug==3.0.4
WTForms==3.1.2
# Jupyter notebook related packages to develop with inside vscode
jupyter
jupyter_client
jupyter_core 
notebook 
ipykernel
ipython
nbformat==5.10.4
nbconvert
traitlets
stack_data



