# We just need these to manually these 5 packages, it's dependent modules will install along with them.
Flask==3.0.3
yfinance==0.2.43
python-dotenv== 1.0.1
setuptools==74.1.2 
matplotlib==3.9.2
# Force Numpy to use 1.26.4 for pandas_ta
numpy==1.26.4

# UPDATE: Additional Packages
pandas_ta== 0.3.14b0
dash==2.18.1
nbformat==5.10.4
seaborn==0.13.2

# Manually Install Jupyter Packages, as imported notebook files might not have these packages automatically set up for some reason.
jupyter
jupyter_client
jupyter_core 
notebook 
ipykernel
ipython
nbformat
nbconvert
traitlets
stack_data


