{% extends "layouts/layout.html" %}

{% block title %}Home - Test{% endblock %}

{% block extra_css %}
<!-- Add any additional CSS here if needed -->
{% endblock %}

{% block content %}
<!-- Grid Layout with Buttons -->
<div class="container mt-4">
    <div class="row mb-3">
        <div class="col-md-6">
            <p> Fetch Data </p>
        </div>
        <div class="col-md-6">
            <button id="fetch-data" class="btn btn-success w-100">Fetch Data</button>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <p> Read/Upload Data </p>
        </div>
        <div class="col-md-6">
            <button id="read-data" class="btn btn-success w-100">Read Data</button>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <p>Generate Chart (Input Stock to Analyse)</p>
        </div>
        <div class="col-md-6">
            <input type="text" id="ticker-input" class="form-control mb-2" placeholder="Enter ticker symbol">
            <button id="generate-chart" class="btn btn-success w-100">Generate Chart</button>
        </div>
    </div>

    <div class="row displayData">
        <!-- Visualization will be appended here -->
    </div>

    <div class="row mb-3">
        <div class="col-md-12">
            <h3>Dash Visualization</h3>
            <iframe src="http://127.0.0.1:5000/dash" width="100%" height="600px" frameborder="0"></iframe>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    // Add any additional JavaScript here if needed
</script>
{% endblock %}
