{% extends "layouts/layout.html" %}

{% block title %}Home - Test{% endblock %}

{% block extra_css %}
<!-- Add any additional CSS here if needed -->
{% endblock %}

{% block content %}
 <!-- Grid Layout with Buttons -->
 <div class="container mt-4">
    <div class="row mb-3">
        <div class="col-md-6">
            <p> Fetch Data </p>
        </div>
        <div class="col-md-6">
            <button class="btn btn-success w-100">Fetch Data</button>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <p> Read/Upload Data </p>
        </div>
        <div class="col-md-6">
            <button class="btn btn-success w-100">Read Data</button>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <p> Read/Upload Data </p>
        </div>
        <div class="col-md-6">
            <button class="btn btn-success w-100">Read Data</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-primary w-100">Button 1</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-secondary w-100">Button 2</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-success w-100">Button 3</button>
        </div>
    </div>

</div>
{% endblock %}

{% block extra_js %}
{% endblock %}