<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">StockEZ</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto"> <!-- Left side items -->
                <li class="nav-item">
                    <a class="nav-link {% if request.path == url_for('main.index') %}active{% endif %}" href="{{ url_for('main.index') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == url_for('main.grid_page') %}active{% endif %}" href="{{ url_for('main.grid_page') }}">Grid</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '#contact' %}active{% endif %}" href="#">Contact</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Stock
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                             <li><a class="dropdown-item" href=" {{ url_for('stock.stock_page') }}"> Strategy Analysis </a></li>
                        <!-- <li><a class="dropdown-item" href=" {# url_for('example.first_example_page') #}"> First Example </a></li>
                        <li><a class="dropdown-item" href="{# url_for('example.plotly_test_page') #}">Plotly with (Claude)</a></li>
                        <li><a class="dropdown-item" href="{# url_for('example.dash_test_page') #}">Dash with (GPT)</a></li> -->
                    </ul>
                </li>

                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == url_for('main.profile') %}active{% endif %}" href="{{ url_for('main.profile') }}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == url_for('main.profile') %}active{% endif %}" href="{{ url_for('main.portfolio') }}">Portfolio</a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav"> <!-- Right side items -->
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <form action="{{ url_for('main.logout') }}" method="POST" class="d-inline">
                        <button type="submit" class="btn btn-danger">Logout</button>
                    </form>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == url_for('main.login') %}active{% endif %}" href="{{ url_for('main.login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == url_for('main.signup') %}active{% endif %}" href="{{ url_for('main.signup') }}">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
