{% extends "layouts/layout.html" %} {% block title %} Technical Stock Analyzer
{{title}}{% endblock %} 
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom/stock_analyzer.css') }}"> <!-- Include external CSS -->
{% endblock %} {% block content %}
<div class="container mt-4"></div>
<!-- Flash Messages Container (the div is always rendered, even if empty) -->
<div id="flash-messages">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible fade show mt-2" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
  {% endwith %}
</div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a
      class="nav-link active"
      id="input-tab"
      data-bs-toggle="tab"
      href="#input"
      role="tab"
      aria-controls="input"
      aria-selected="true"
      >Input</a
    >
  </li>
  <li class="nav-item" role="presentation">
    <a
      class="nav-link"
      id="strategy-tab"
      data-bs-toggle="tab"
      href="#strategy"
      role="tab"
      aria-controls="strategy"
      aria-selected="false"
      >Strategy Performance</a
    >
  </li>
  <li class="nav-item" role="presentation">
    <a
      class="nav-link"
      id="price-tab"
      data-bs-toggle="tab"
      href="#price"
      role="tab"
      aria-controls="price"
      aria-selected="false"
      >Visualise Price</a
    >
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <!-- Input Tab Contents -->
  <div
    class="tab-pane fade show active"
    id="input"
    role="tabpanel"
    aria-labelledby="input-tab"
  >
    <br />

    <!-- Javascript Function Tester -->
    <!-- <div class="row mb-3">
      <div class="col-md-6">
        <p> Javascript Function Tester </p>
      </div>
      <div class="col-md-6">
        <button id="testing-btn" class="btn btn-success w-100">
          Test!
        </button>
      </div>
    </div> -->

    <!-- Input Form for Fetch Data to CSV-->
        <div class="mb-3">
          <div class="d-flex align-items-center mb-2">
            <label for="ticker" class="form-label mb-0 me-2" 
           data-bs-toggle="tooltip" 
           data-bs-placement="top" 
           title="Enter the stock ticker(s), up to 30">Enter Ticker</label>
            <button type="button" class="btn btn-link p-0 ms-auto" id="valid_fetchDataQuickFillBtn">Valid Quick Fill</button>
            <button type="button" class="btn btn-link p-0 ms-auto" id="invalidnaming_fetchDataQuickFillBtn">Invalid Example (Naming) </button>
            <button type="button" class="btn btn-link p-0 ms-auto" id="invalidlength_fetchDataQuickFillBtn">Invalid Example (Ticker Length)</button>
          </div>
          <input type="text" class="form-control" id="ticker" name="ticker" placeholder="Enter up to 30 stock tickers in uppercase, separated by comma" required />
        </div>
        
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="start" class="form-label"  data-bs-toggle="tooltip" 
            data-bs-placement="top" 
            title="Select the date in DD/MM/YYYY format">Start Date</label>
            <input type="date" class="form-control" id="start" name="start" />
          </div>
          <div class="col-md-6 mb-3">
            <label for="end" class="form-label" data-bs-toggle="tooltip" 
            data-bs-placement="top" 
            title="Select the date in DD/MM/YYYY format">End Date</label>
            <input type="date" class="form-control" id="end" name="end" />
          </div>
        </div>
    <!-- === -->
    <div class="row mb-3">
      <div class="col-md-6">
        <p>Fetch dataset into .csv</p>
      </div>
      <div class="col-md-6">
        <button id="fetch-data-btn" class="btn btn-success w-100">
          Fetch Data
        </button>
      </div>
    </div>



    <div class="row mb-3">
      <div class="col-md-6">
        <p>Process dataset</p>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <p>Select ticker from dataset</p>
      </div>
      <div class="col-md-6">
        <select id="ticker-select" class="form-control">
          <option value=""> No ticker found </option>
        </select>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <p>Select strategy for analysis</p>
      </div>
      <div class="col-md-6">
        <select id="strategy-select" class="form-control">
          <option value="1">Strategy One: EMA Crossover</option>
          <option value="2">Strategy Two: EMA Crossover with RSI</option>
          <option value="3">Strategy Three: RSI with ADX</option>
          <option value="4">
            Strategy Four: Machine Learning with Indicators
          </option>
        </select>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6"></div>

      <div class="col-md-6">
        <button id="process-data-btn" class="btn btn-success w-100" disabled>
          Process Data
        </button>
      </div>
    </div>
  </div>
  <!-- Strategy Performance Tab Contents -->
  <div
    class="tab-pane fade"
    id="strategy"
    role="tabpanel"
    aria-labelledby="strategy-tab"
  >
    <br>
    <div class="show-graph"></div>
    <div class="show-graph-second"></div>
    <!-- Trading Statistics (Strategy Performance) -->
    <h1 class="text-center mb-4">Trading Statistics (Strategy Performance)</h1>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Performance</h5>
            <ul class="list-group list-group-flush">
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                Total Return
                <span
                  class="badge bg-primary rounded-pill"
                  id="sp_total_return_display"
                  >No data found</span
                >
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                Annualized Volatility
                <span
                  class="badge bg-secondary rounded-pill"
                  id="sp_annualised_volatility_display"
                  >No data found</span
                >
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                Maximum Drawdown
                <span
                  class="badge bg-danger rounded-pill"
                  id="sp_maximum_drawdown_display"
                  >No data found</span
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Trading Activity</h5>
            <ul class="list-group list-group-flush">
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                Total Trades
                <span
                  class="badge bg-info rounded-pill"
                  id="sp_total_trades_display"
                  >No data found</span
                >
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                Profit Factor
                <span
                  class="badge bg-success rounded-pill"
                  id="sp_profit_factor_display"
                  >No data found</span
                >
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                Average Profit
                <span
                  class="badge bg-primary rounded-pill"
                  id="sp_average_profit_display"
                  >No data found</span
                >
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                Average Loss
                <span
                  class="badge bg-danger rounded-pill"
                  id="sp_average_loss_display"
                  >No data found</span
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Up/Down Days</h5>
            <div class="progress mb-3" style="height: 25px">
              <div
                class="progress-bar bg-success"
                role="progressbar"
                id="sp_up_days_progress"
                style="width: 0%"
                aria-valuenow="0"
                aria-valuemin="0"
                aria-valuemax="100"
              >
              No data found
              </div>
              <div
                class="progress-bar bg-danger"
                role="progressbar"
                id="sp_down_days_progress"
                style="width: 0%"
                aria-valuenow="0"
                aria-valuemin="0"
                aria-valuemax="100"
              >
              No data found
              </div>
            </div>
            <ul class="list-group list-group-flush">
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                Up Days
                <span
                  class="badge bg-success rounded-pill"
                  id="sp_up_days_display"
                  >No data found</span
                >
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                Down Days
                <span
                  class="badge bg-danger rounded-pill"
                  id="sp_down_days_display"
                  >No data found</span
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Trading Statistics (Strategy Performance) -->

    <!-- Trading Statistics (Benchmark Performance) -->
     <br>
    <h1 class="text-center mb-4">Benchmark Statistics</h1>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Benchmark Performance</h5>
            <ul class="list-group list-group-flush">
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                Total Return
                <span
                  class="badge bg-primary rounded-pill"
                  id="bm_total_return_display"
                  >No data found</span
                >
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                Annualized Volatility
                <span
                  class="badge bg-secondary rounded-pill"
                  id="bm_annualised_volatility_display"
                  >No data found</span
                >
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                Maximum Drawdown
                <span
                  class="badge bg-danger rounded-pill"
                  id="bm_maximum_drawdown_display"
                  >No data found</span
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Benchmark Trading Activity</h5>
            <ul class="list-group list-group-flush">
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                Trading Days
                <span
                  class="badge bg-info rounded-pill"
                  id="bm_total_trades_display"
                  >No data found</span
                >
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                Profit Factor
                <span
                  class="badge bg-success rounded-pill"
                  id="bm_profit_factor_display"
                  >No data found</span
                >
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                Average Profit
                <span
                  class="badge bg-primary rounded-pill"
                  id="bm_average_profit_display"
                  >No data found</span
                >
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                Average Loss
                <span
                  class="badge bg-danger rounded-pill"
                  id="bm_average_loss_display"
                  >No data found</span
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Benchmark Up/Down Days</h5>
            <div class="progress mb-3" style="height: 25px">
              <div
                class="progress-bar bg-success"
                role="progressbar"
                id="bm_up_days_progress"
                style="width: 0%"
                aria-valuenow="0"
                aria-valuemin="0"
                aria-valuemax="100"
              >
              No data found
              </div>
              <div
                class="progress-bar bg-danger"
                role="progressbar"
                id="bm_down_days_progress"
                style="width: 0%"
                aria-valuenow="0"
                aria-valuemin="0"
                aria-valuemax="100"
              >
              No data found
              </div>
            </div>
            <ul class="list-group list-group-flush">
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                Up Days
                <span
                  class="badge bg-success rounded-pill"
                  id="bm_up_days_display"
                  >No data found</span
                >
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                Down Days
                <span
                  class="badge bg-danger rounded-pill"
                  id="bm_down_days_display"
                  >No data found</span
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Trading Statistics (Benchmark Performance) -->
  </div>
  <!-- Price Tab Contents -->
  <div
    class="tab-pane fade"
    id="price"
    role="tabpanel"
    aria-labelledby="price-tab"
  >

          <div id="chart-msg">
            <p> No data found  </p>
          </div>
          <div id="chart-container">
        </div>
        
    </div>


  </div>
</div>
{% endblock %} {% block extra_js %}
<script src="{{url_for('static', filename='js/custom/stock_analyzer.js') }}"></script>
{% endblock %}
